@keyframes lightning {
    29% {
        background: linear-gradient(0deg, rgba(156,156,156,1) 0%, rgba(37,37,37,1) 30%);
        color: #fff;
    }
    30% {
        background: #FFF2A7;
        color: #000;
    }
    33% {
        background: linear-gradient(0deg, rgba(156,156,156,1) 0%, rgba(37,37,37,1) 30%);
        color: #fff;
    }
    34% {
        background: #FFF2A7;
        color: #000;
    }
    36% {
        background: linear-gradient(0deg, rgba(156,156,156,1) 0%, rgba(37,37,37,1) 30%);
        color: #fff;
    }
}