/* 4xx: Drizzle */
body[data-weather^="4"] {
    background: rgba(0,102,167,1);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,102,167,1) 30%);
    color: #fff;
}

/* 5xx: Rain */
body[data-weather^="5"] {
    background:  rgba(0,63,104,1);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,63,104,1) 30%);
    color: #fff;
}

/* 6xx: Snow */
body[data-weather^="6"] {
    background: rgb(174,225,228);
    background: linear-gradient(90deg, rgba(174,225,228,1) 0%, rgba(225,225,225,1) 50%, rgba(174,225,228,1) 100%);
    color: #000;
}

/* 7xx: Atmosphere */
body[data-weather^="7"] {
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(197,188,173,1) 50%, rgba(255,255,255,1) 100%);
    color: #000;
}

/* 8xx: Clear */
body[data-weather^="8"] {
    background: rgb(29,188,253);
    background: linear-gradient(180deg, rgba(29,188,253,1) 0%, rgba(255,255,255,1) 100%);
    color: #000;
}