/* 2xx: Thunderstorm */
body[data-weather^="2"] {
    background: rgba(37,37,37,1);
    background: linear-gradient(0deg, rgba(156,156,156,1) 0%, rgba(37,37,37,1) 30%);
    color: #fff;
    animation: lightning ease-in-out 8s infinite;
    @media (prefers-reduced-motion) {
        animation: none;
    }
}

/* 3xx: Drizzle */
body[data-weather^="3"] {
    background: rgba(0,102,167,1);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,102,167,1) 30%);
    color: #fff;
}

/* 5xx: Rain */
body[data-weather^="5"] {
    background:  rgba(0,63,104,1);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,63,104,1) 30%);
    color: #fff;
}

/* 6xx: Snow */
body[data-weather^="6"] {
    background: rgb(174,225,228);
    background: linear-gradient(180deg, rgba(174,225,228,1) 0%, rgba(225,225,225,1) 50%, rgba(174,225,228,1) 100%);
    color: #000;
}

/* 7xx: Atmosphere */
body[data-weather^="7"] {
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(197,188,173,1) 0%, rgba(255,255,255,1) 80%);
    color: #000;
}

/* 8xx: Clear */
body[data-weather^="8"] {
    background: rgb(29,188,253);
    background: linear-gradient(180deg, rgba(29,188,253,1) 0%, rgba(255,255,255,1) 100%);
    color: #000;
}

/* Cloudy Conditions */
body[data-weather^="2"], 
body[data-weather^="3"], 
body[data-weather^="5"], 
body[data-weather^="6"],
body[data-weather="801"],
body[data-weather="802"],
body[data-weather="803"],
body[data-weather="804"] {
    .container {
        background-image: url(../clouds.png);
        background-repeat: repeat-x;
        background-position: top center;
        animation: move-in ease-in 1s forwards;
    }
}

/* Moving Clouds */
body[data-weather="801"],
body[data-weather="802"],
body[data-weather="803"],
body[data-weather="804"] {
    .container {
        //wait for clouds to come in first
        animation-delay: 1.2s;
        animation: drifting linear 15s infinite;
    }
}